
    
    body{ 
        background: url(/wizard-house/images/harry-potter-house.png) no-repeat center center fixed;
        background-size: cover;
        background-color: black;
      }    
      
      .group{
          position: absolute;
  width: flex;
  height: flex;
  left: flex;
  top: flex;
      }
      .house{
          position: absolute;
  width: 247px;
  height: 46px;
  left: 10px;
  top: 68.01px;
  
  font-family: 'Pirata One';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.185em;
  
  color: #DCDCDC;
      }
      .login-box {
          
          position: absolute;
          top: 50%;
          left: 20%;
          height: auto;
          width: 400px;
          padding: 40px;
          margin: 20px auto;
          transform: translate(-50%, -55%);
          background: rgba(0,0,0,.9);
          box-sizing: border-box;
          box-shadow: 0 15px 25px rgba(0,0,0,.6);
          border-radius: 15px;
          
        }
        
        .login-box p:first-child {
          margin: 0 0 30px;
          padding: 0;
          color: #fffefe;
          text-align: center;
          font-size: 1.5rem;
          font-weight: bold;
          letter-spacing: 1px;
        }
        
        .login-box .user-box {
          position: relative;
        }
        
        .LOGIN{
          font-size: medium;
        }
        .login-box .user-box input {
          height: 20px;
          outline: none;
          border: 2px solid orange;
          background: transparent;
          padding: 20px 20px;
          border-radius: 30px;
          transition: .5s;
          color: white;
          font-size: 20px; 
        }
        
        .login-box .user-box label {
          position: absolute;
          display: flex;
          top: 0;
          left: 0;
          padding: 10px 0;
          font-size: 16px;
          color: #f5f5f1;
          pointer-events: none;
          transition: .5s;
        }
        
        .login-box .user-box input:focus ~ label,
        .login-box .user-box input:valid ~ label {
          top: -20px;
          left: 5;
          color: #fff;
          font-size: 12px;
        }
        
        .login-box form a {
          position: relative;
          display: inline-block;
          padding: 10px 120px;
          font-weight: bold;
          color: #fff;
          font-size: 16px;
          text-decoration: none;
          text-transform: uppercase;
          overflow: hidden;
          transition: .5s;
          margin-top: 40px;
          letter-spacing: 3px
        }
  
        .button{
          position: absolute;
  width: 321px;
  height: 40px;
  left: -15px;
  top: 94px;
  
  background: #FFCD2D;
  backdrop-filter: blur(200px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 38px;
        }