*{
    background-color: #F6DEFF;
}

.group{
    position: absolute;
width: flex;
height: flex;
left: flex;
top: flex;
}
.grid-container {
    display: grid;
    column-gap: 50px;
  }

  .student{
    position: absolute;
width: 117px;
height: 83px;
left: 778px;
top: 37px;
  }
  .staff{
    position: absolute;
width: 132px;
height: 83px;
left: 1063px;
top: 37px;
  }
  
  .backimage{
    size: small;
  }